<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
    <add name="BANKConnectionString"
         connectionString="Data Source=WIN-Q9KSS3JTNEI\SQLEXPRESS;Initial Catalog=BANK;Integrated Security=true;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>